<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" 
    class="form-control"><%= article.description %></textarea>
  </div>
  <div class="form-group">
    <label for="Author">Author</label>
    <textarea required name="author" id="author" 
    class="form-control"><%= article.author %></textarea>
  </div>
  
  <a href="/" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>